.btn {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 1em 2em;
    user-select: none;
    margin: 0 8px;
    cursor: pointer;
    position: relative;
    background: none;
    color: #fff !important;
    overflow: hidden;
    width: 25vh;
    height: 8vh;
    font-size: 14px;
}

.btn::before,
.btn::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: #ffffff;
    color: #240166 !important;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: background 0.5s, transform 0.5s, opacity 0.5s ease-in;
}

.btn::before {
    left: -30%;
    color: #240166;
    ;
}

.btn::after {
    right: -30%;
    color: #240166;
    ;
}

.btn:hover::after {
    transform: scale(1);
}

.btn:hover {
    color: #240166 !important;
}

.btn:active {
    transform: translateY(2px);
    color: #240166;
}


.hero-heading {
    font-size: 100px;
    color: white;
    text-align: center;
    font-weight: bold;
}

.btn-reverse {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 1em 2em;
    user-select: none;
    margin: 0 8px;
    cursor: pointer;
    position: relative;
    background: #ffffff;
    color: #240166 !important;
    overflow: hidden;
    width: 32vh;
    height: 8vh;
    font-size: 17px;
}

.btn-reverse::before,
.btn-reverse::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: none !important;
    color: #ffffff !important;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scaleX(0);
    transition: background 0.5s, transform 0.5s, opacity 0.5s ease-in;
}

.btn-reverse::before {
    left: -30%;
    color: #ffffff !important;
}

.btn-reverse::after {
    right: -30%;
    color: #ffffff !important;
}

.btn-reverse:hover::after {
    transform: scale(1);
}

.btn-reverse:hover {
    background-color: transparent;
    color: #ffffff !important;
}

.btn-reverse:active {
    transform: translateY(2px);
    color: #ffffff !important;
}