<div class="about">
    <div class="row">
        <div class="col">
            <div>
                <img src="../../assets/imgs/aboutmephoto.jpg">
            </div>
        </div>
        <div class="col">
            <div class="d-flex align-items-center" style="height: 100vh;">
                <div>
                    <span class="pill-about">ABOUT</span>
                    <h1 class="header-about">Software Developer</h1>
                    <span class="description">Hello, I'm Denis, a developer based in Pitesti, Romania. I'm here to offer
                        you web development
                        services with attention and care. In addition to my passion for programming and creating web
                        solutions, I also have a deep love for hiking. Exploring the great outdoors is another way I
                        find inspiration and balance in life.</span>
                </div>
            </div>
        </div>
    </div>
</div>