<div class="about" style="border-bottom: 1px solid rgba(100, 108, 133, 0.5);">
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="../../assets/imgs/aboutmephoto.jpg" style="max-width: 100%;">
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex align-items-center" style="height: 100vh;">
                <div>
                    <span class="pill-about">ABOUT</span>
                    <ngx-typed-js [loop]=true [showCursor]="false" [typeSpeed]="100"
                        [strings]="['Software Developer', 'Travel enthusiast']">
                        <h1 class="header-about typing"></h1>
                    </ngx-typed-js>
                    <span class="description">I am <span style="color: white;">Denis</span>, a developer based in
                        Pitesti, Romania. I am here to offer
                        you web development
                        services with attention and care. In addition to my passion for programming and creating web
                        solutions, I also have a deep love for hiking. Exploring the great outdoors is another way I
                        find inspiration and balance in life.</span>
                </div>
            </div>
        </div>
    </div>

</div>